# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cursors & System
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Spark
spark-warehouse/
derby.log
metastore_db/
